<dl>
  <dt><strong>Title:</strong> <%= @post.title %></dt><br>
  <dt><strong>Description:</strong> <%= @post.description %></dt><br>
  <dt><strong>User:</strong> <%= @post.user.username %></dt><br>
</dl>

<h3>Comments</h3>
